.contactCon{
    width: 100%;
    .contact{
        width: 40%;
        margin: 3rem auto;
        .contactIntro{
            p{
                color: #475467
            }
        }
        form.contactForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            .formRow{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5%;
            }
            .formGroup{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 8px 0px;
                label{
                    font-weight: 500;
                    font-size: 14px;
                    color: #344054
                }
                input, textarea{
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                    padding: 10px 16px;
                    margin-top: 4px;
                    outline: none;
                }
            }
            .checkGroup{
                display: flex;
                flex-direction: row;
                align-items: center;
                label{
                    font-size: 12px;
                    font-weight: 400;
                    color: #344054
                }
                margin: 8px 0px;
            }
            #btn__submit{
                width: 100%;
                background: #1570EF;
                border: 1px solid #1570EF;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                color: #fff;
                padding: 8px 0px;
                margin: 8px 0px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        @media screen and (max-width: 1280px){
            // Tab responsiveness
            width: 80%;
            margin: 5rem auto 8rem;
            
        }
        @media screen and (max-width: 768px){
            // Mobile responsiveness
            width: 90%;
            margin: 5rem auto 2rem;
            form.contactForm{
                .formRow{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}