.App{
    background-color: #fff;
    color: #101828;
    .container{
        width: 70%;
        margin: 2rem auto 0px;
        .avater_section{
            width: 60%;
            margin: 0 auto;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            .user{
                display: flex;
                flex-direction: column;
                align-items: center;
                #profile__img{
                    width: 75px;
                    height: 75px;
                    border-radius: 50px;
                }
                #twitter{
                    font-size: 14px;
                    font-weight: 700;
                }
                #slack{
                    display: none;
                }
            }
            #share__link,#menu__img{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                padding: 4px;
                border: 1px dotted #D0D5DD;
            }
            #share__link{
                position: absolute;
                right: 0;
                top: 0;
            }
            #menu__img{
                display: none;
            }
        }
        .link_list{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .link_out{
                background-color: #EAECF0;
                width: 100%;
                padding: 12px 0px;
                margin: 8px;
                border-radius: 4px;
                text-align: center;
                text-decoration: none;
                color: #101828;
                font-weight: 600;
                font-size: 14px;
            }
        }
        .socialIcons{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 2rem 0px;
            a{
                margin: 0 4px;
            }
        }
        @media screen and (max-width: 1280px){
            // Tab responsiveness
            width: 90%;
            .avater_section{
                width: 80%;
            }
        }
        @media screen and (max-width: 768px){
            // Mobile responsiveness
            .avater_section{
                width: 90%;
                #share__link{
                    display: none;
                }
                #menu__img{
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .link_list{
                width: 90%;
            }
        }
    }
    footer{
        width: 80%;
        margin: 0 auto;
        padding: 8px 0px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #EAECF0;
        p{
            font-size: 12px;
            color: #667085;
        }
        @media screen and (max-width: 1280px){
            // Tab responsiveness
            width: 90%;
        }
        @media screen and (max-width: 768px){
            // Mobile responsiveness
            flex-direction: column;
            align-items: flex-start;
        }
    }
}